.loaderContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

.loaderContainer img {
    display: inline-block;
    margin: auto;
    width: 200px;
}