@import '~antd/dist/antd.css';

body,
.ant-layout {
  background-color: #ffffff;
}

.h-full {
  height: calc(100vh);
}

.h-30 {
  height: 30px;
}

.border-color-25 {
  border: 0.3px solid rgba(0, 0, 0, 0.25);
  // color: rgba(0, 0, 0, 0.25);
}

body {
  color: #000000 !important;
}

// .ant-layout.site-layout {
//   margin-left: 125px;
// }

.boxesMain {

  .innerBoxs {
    border: 0.3px solid rgba(0, 0, 0, 0.25);

    TextArea {
      border: 0.5px solid #000000;
    }
  }
}

.boxesMain .innerBoxMain .col-sm-4:nth-child(2) .innerBoxs {
  border-left: 0px;
}

.boxesMain .innerBoxMain .col-sm-4:nth-child(3) .innerBoxs {
  border-left: 0px;
}

// .boxesMain:nth-child(3) .innerBoxs {
//   border-left: 0px;
// }

.searchCard ::placeholder {
  text-align: center;

}

.sidebar-app .ant-layout-sider {
  position: fixed;
}

.mySidebar {
  max-width: 120px !important;
  min-width: 120px !important;
  width: 120px !important;

}

.mySidebar .ant-layout-sider-children {
  justify-content: center;
  display: flex;
  height: 60vh;

}

.left-66 {
  left: 66px;
}

.profile {
  position: relative;
}

.profile .boxes-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.profile .boxes-number {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  align-items: center;
  color: #000000;
  font-family: Arimo;
}

.profile .cityWithMe {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.profile .title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
  margin: 0;
}

.profile .subTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
  margin: 0;
}

.profile .pcontent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;

}

.videoCard {
  display: inline-flex;
  // max-width: 1500px;
  width: 100%;
  overflow-x: scroll;
}

.videoProfile {
  overflow: hidden;
  padding-right: 1rem;
}

.builds-Main {
  .videoProfile {}
}

.mainPage {
  overflow-y: scroll;
  // overflow: hidden !important;
  width: 100%;

  .profile-main {
    overflow: hidden;
    overflow-y: auto;
  }
}

.title {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    margin: 0;
  }
}

.vcontent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.flashCards {
  position: absolute;
  bottom: 18px;
  right: 45px;
  cursor: pointer;
}

.flashCardsContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  margin-right: 137px;
  text-align: right;
}

.AllProfile {
  position: absolute;
}

.AllProfile .boxes-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.AllProfile .boxes-number {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 46px;
  align-items: center;
  color: #000000;
  text-align: center;
}

.AllProfile .cityWithMe {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  align-items: center;
}

.AllProfile .title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0;
}

.AllProfile .subTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0;
}

.AllProfile .button {
  font-weight: 700;
  font-size: 11px;
  line-height: 12.65px;
  text-align: center;
}

.Search-content {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.Search {
  margin-left: 31px;
}

.dashboardSearch {
  width: 300px;
  border-radius: 25px;

}

.ant-input-search {
  width: 300px;
  border-radius: 25px;
  border: 1px solid;
}

.new-build-hr {

  max-width: 344.02px;
}

.icon {
  font-size: 42px;
}

.border-btm {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 24%;
}

.ant-modal{
  font-family: 'Arimo';;
}
.ant-modal-body {
  text-align: center;
}

.ant-modal-header {
  border-bottom: 0;
  padding: 9px 12px;
}

.ant-modal-footer {
  text-align: center;
  border-top: none;
}

.ant-btn {
  background-color: #000000;
  color: white;
  border-radius: 5px;
}

.ant-modal-close-x {
  padding: 0px;
  font-weight: 700;
  display: block;
  width: 13px;
  height: 14px;
  font-size: 13px;
  font-style: normal;
  line-height: 8px;
  text-align: center;
  border-radius: 7px;
  background-color: black !important;
  color: white;
  margin-top: 15px;
  margin-right: 13px;
}

.ant-modal-body .inputbox {
  text-align: left;
}

.inputbox {
  text-align: left;
  height: 80;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
}

.userGuide {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

.userGuide .Ucontent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;

}

.userGuide .videoContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.novideo {
  text-align: center;

  width: 396px;
  height: 306px;
}

.content {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  background-color: #D9D9D9;
  width: 396px;
}

.ant-card-head-title {
  text-align: center;
}

.ant-card-head {
  border-bottom: 0;
  padding: 0;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: -30px;
}

.ant-card {
  border-radius: 0;
}

.resultContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;

}

.inValidUrlContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  align-items: center;
  text-align: center;
}

.awarenessModal {

  .ant-modal-content {
    color: #000000;
    width: 440px;
  }

  .ant-modal-header {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

  }

  textarea.ant-input {
    border-radius: 5px;
  }

  .ant-btn {
    width: auto;
    height: 28px;
    background-color: #000000;
    text-align: center;
    margin-top: 0;
  }

  .header {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 9px;
    text-align: left;
  }
}

.userGuide {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

.userGuide .Ucontent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 65px;
  margin-left: 39px;
  left: 914px;
  margin-top: 17px;
}

.userGuide .uVideo {
  width: 591px;
  height: 331px;

  margin-bottom: 31px;
}

.userGuide .Ucontent-2 {
  margin-top: 61px;
}

.userGuide .videoContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  margin-left: 39px;
}

.userGuide .videoContent2 {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}


.awarenessModal .ant-btn {
  width: 58px;
  height: 28px;
  background-color: #000000;
  text-align: center;
  margin-top: 0;
}

.btn1 {
  background-color: #DCDADA;
  color: black;
}

.btn2 {
  background-color: #F8F8F8;
  color: black;
}

.card {
  margin-bottom: 0px;
}

.ms-4 {
  margin-left: 2.45rem !important;
}

hr {
  width: 344.02px;
  margin-top: 14.17px !important;
  margin-bottom: 14.17px !important;
}

.SelfLearningBG {
  background-color: #FFEB3D;
}

.ThingsLearningBG {
  background-color: #214DEA;
}

.UserGuideBG {
  background-color: #44A82B;
}

.newBuild {
  border: 0 !important;
}

textarea.ant-input {
  ::placeholder {
    text-align: center;

  }
}

.flash {
  right: 21px;
  bottom: 5px;
}

.mkCard {
  right: 21px;
  bottom: 103px;
}

.videoCard01 {
  .title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .iframs {
    display: none;
  }
}

.videoCard01:hover {
  .iframs {
    display: block;
  }

  img {
    display: none;
  }
}

// .btn-primary{
//   color: black;

//   :hover{
//   color: #000 !important;
//  background-color: white !important;
//   }
// }
.btn {
  :hover {
    :hover {
      background-color: white;
      color: black;
    }
  }
}

.high-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 68px;
  height: 61px;
  padding: 10px;
  text-align: center;
}

.high-btn:hover {
  background-color: white;
  /* Green */
  color: black;
}

.high-btn3 {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 68px;
  height: 61px;
  padding: 2px;
  text-align: center;
}

.high-btn3:hover {
  background-color: white;
  /* Green */
  color: black;
}

.high-btn2 {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 100px;
  height: 57px;
  padding: 16px;
  text-align: center;
}

.high-btn2:hover {
  background-color: white;
  /* Green */
  color: black;
}

.threeButton .btn {
  padding-left: 0;
  padding-right: 0;
  color: black;
}

.inspirationButton {
  background-color: #7D1597;
  transform: translate(9%, 350%);
  color: #F8F8F8; ;
}

.resistanceButton {
  background-color: #D91919;
  // transform: translate(105%, -11%);
  transform: translate(115%, -45%);
  color: #F8F8F8; ;
  
}

.acceptanceButton {
  background-color: #1235AE;
  transform: translate(170%, -446%);
  color: #F8F8F8; ; 
  
}

.inspirationButton:hover {
  background-color: #7D1597;
  color: #F8F8F8;
}

.acceptanceButton:hover {
  background-color: #1235AE;
  color: #F8F8F8;
}
.ant-tooltip-inner{
  color: black;

}
  
.blue{
  margin-left: -1px;
}

.resistanceButton:hover {
  background-color: #D91919;
  color: #F8F8F8;
}

.redtraingle {
  margin-top: -125px;
  margin-bottom: 35px;
}

.accptanceModalBG {

  .ant-modal-content,
  .ant-modal-header {
    background-color: #B2B5ED;
  }

  textarea.ant-input {
    border-radius: 5px;
  }

  .ant-btn {
    width: auto;
    height: 28px;
    background-color: #000000;
    text-align: center;
    margin-top: 0;
  }
}

.resistanceModalBG {

  .ant-modal-content,
  .ant-modal-header {
    background-color: #E8ABAB;
  }

  textarea.ant-input {
    border-radius: 5px;
  }

  .ant-btn {
    width: auto;
    height: 28px;
    background-color: #000000;
    text-align: center;
    margin-top: 0;
  }
}
.redpolygon{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #D91919;
  width: 298.04px;
  height: 84.54px;
  margin-top: -123px;
  margin-left: 1px;
}

.inspirationModalBG {

  .ant-modal-content,
  .ant-modal-header {
    background-color: #E0C0EB;
  }

  textarea.ant-input {
    border-radius: 5px;
  }

  .ant-btn {
    width: auto;
    height: 28px;
    background-color: #000000;
    text-align: center;
    margin-top: 0;
  }
}

.ant-tooltip-inner {

  color: black;

}

.blue {
  margin-left: -1px;
}

.tooltipOfImages {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 1px;
}
.ant-form-item-label > label::after{
  content: none;
}
.ant-input-textarea {
  margin-left: 2px !important;
}
