@import "~antd/dist/antd.css";

body,
.ant-layout {
  background-color: #ffffff;
  color: black !important;
}

.h-full {
  height: calc(100vh);
}

.h-30 {
  height: 30px;
}

.border-color-25 {
  border: 0.3px solid rgba(0, 0, 0, 0.25);
  // color: rgba(0, 0, 0, 0.25);
}

// .ant-layout.site-layout {
//   margin-left: 125px;
// }
.fixTitle {
  font-family: "Arimo" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 30px !important;
  line-height: 34px !important;
}

.boxesMain {
  .innerBoxs {
    border: 0.3px solid rgba(0, 0, 0, 0.25);
    max-width: 360px;
    max-height: 213px;
    min-height: 213px;

    TextArea {
      border: 0.5px solid #000000;
    }
  }

  .innerBoxsSelected {
    border: 0.3px solid rgba(0, 0, 0, 0.25);
    max-width: 360px;
    max-height: 227px;
    min-height: 202px;
  }
}

.boxesMain .innerBoxMain .col-sm-4:nth-child(2) .innerBoxs {
  border-left: 0px;
}

.boxesMain .innerBoxMain .col-sm-4:nth-child(3) .innerBoxs {
  border-left: 0px;
}

// .boxesMain:nth-child(3) .innerBoxs {
//   border-left: 0px;
// }

.searchCard ::placeholder {
  text-align: center;
}

.searchCard {
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    color: black;
    background-color: #d4d4d4;
  }
}

.searchCard {
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    color: black;
    background-color: #d4d4d4;
  }

  .ant-input::placeholder {
    text-overflow: ellipsis;
    color: black;
    background-color: #d4d4d4;
  }

  .ant-input:focus,
  .ant-input-focused ::placeholder {
    text-overflow: ellipsis;
    color: black;
    background-color: #d4d4d4;
  }
}

.sidebar-app .ant-layout-sider {
  position: fixed;
}

.mySidebar {
  max-width: 120px !important;
  min-width: 120px !important;
  width: 120px !important;
}

.mySidebar .ant-layout-sider-children {
  justify-content: center;
  display: flex;
  height: 60vh;
}

.left-66 {
  left: 66px;
}

.profile {
  position: relative;
}

.profile .boxes-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.profile .boxes-number {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  align-items: center;
  color: #000000;
  font-family: Arimo;
}

.profile .cityWithMe {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.profile .title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
  margin: 0;
}

.profile .subTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
  margin: 0;
}

.profile .pcontent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.videoCard {
  // display: inline-flex;
  // max-width: 1500px;
  width: 100%;
  // overflow-x: scroll;
  margin-left: 13px;
}

.videoProfile {
  overflow: hidden;
  padding-right: 1rem;
  // margin-left: 12px;
}

.content {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  background-color: #d9d9d9;
  width: 396px;
  color: black;
  text-align: center;
}

.videoProfile1 {
  padding-right: 1rem;
  margin-left: 531px;
  margin-top: 20px;
}

.mainPage {
  overflow-y: scroll;
  // overflow: hidden !important;
  width: 100%;

  .profile-main {
    overflow: hidden;
    overflow-y: auto;
  }
}

// .title {
//   h1 {
//     font-style: normal;
//     font-weight: 700;
//     font-size: 30px;
//     line-height: 34px;
//     color: #000000;
//     margin: 0;
//   }
// }

.vcontent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.ant-modal-body {
  text-align: center;
  margin: 9px;
}

.flashCards {
  position: absolute;
  bottom: 18px;
  right: 45px;
}

.flashCardsModal {
  cursor: pointer;

  .ant-input-textarea-show-count::after {
    position: absolute;
    bottom: 20px;
    right: 9px;
  }

  .ant-modal-body {
    text-align: center;
    margin: 9px;
    padding-bottom: 0px !important;
  }
}

.flashCardsContent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  margin-right: 137px;
  text-align: right;
}

.AllProfile {
  position: absolute;
}

.AllProfile .boxes-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.AllProfile .boxes-number {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 46px;
  align-items: center;
  color: #000000;
  text-align: center;
}

.AllProfile .cityWithMe {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  align-items: center;
}

.AllProfile .title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0;
}

.AllProfile .subTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0;
}

.AllProfile .button {
  font-weight: 700;
  font-size: 11px;
  line-height: 12.65px;
  text-align: center;
}

.Search-content {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.Search {
  margin-left: 38px;
}

.dashboardSearch {
  width: 300px;
  border-radius: 25px;
}

.ant-input-search {
  width: 300px;
  border-radius: 25px;
  border: 1px solid;
}

.new-build-hr {
  max-width: 344.02px;
}

.icon {
  font-size: 42px;
}

.border-btm {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 24%;
}

.ant-modal {
  font-family: "Arimo";
}

.ant-modal-header {
  border-bottom: 0;
  padding: 9px 12px;
}

.ant-modal-footer {
  text-align: center;
  border-top: none;
  margin-top: -16px;
}

.ant-btn {
  background-color: #000000;
  color: white;
  border-radius: 5px;
}

.ant-modal-close-x {
  padding: 0px;
  font-weight: 700;
  display: block;
  width: 16px;
  height: 16px;
  font-size: 11px;
  font-style: normal;
  line-height: 11px;
  text-align: center;
  border-radius: 100%;
  background-color: black !important;
  color: white;
  margin-top: 15px;
  margin-right: 13px;
}

.ant-modal-body .inputbox {
  text-align: left;
}

.inputbox {
  text-align: left;
  height: 80;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
}

.userGuide {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

.userGuide .Ucontent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
}

.userGuide .videoContent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.novideo {
  text-align: center;

  width: 396px;
  height: 306px;
}

.content {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  background-color: #d9d9d9;
  width: 396px;
  padding-top: 10px;
}

.ant-card-head-title {
  text-align: center;
}

.ant-card-head {
  border-bottom: 0;
  padding: 0;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: -30px;
}

.ant-card {
  border-radius: 0;
}

.resultContent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.inValidUrlContent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  align-items: center;
  text-align: center;
}

.ant-modal-header {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.aware .ant-modal-centered {
  margin-left: 430px;
  text-align: none !important;
}

.ant-modal {
  width: 440px !important;
  height: 473px !important;
  border-radius: 7px;
  // margin-left: 754px;
}

.ant-modal-content {
  border-radius: 7px !important;

  .ant-modal-header {
    border-radius: 7px !important;
  }
}

.awarenessModal {
  .ant-modal {
    margin-left: 754px !important;
  }

  .ant-modal-content {
    color: #000000;
    border-radius: 7px;

    .ant-modal-header {
      border-radius: 7px;
    }
  }

  .ant-modal-body {
    text-align: center;
    margin: -10px;
  }

  textarea.ant-input {
    border-radius: 2px;
  }

  .ant-btn {
    width: auto;
    height: 28px;
    background-color: #000000;
    text-align: center;
    margin-top: 0;
  }

  .header {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 9px;
    text-align: left;
  }

  .ant-modal-footer {
    margin-top: 50px;
  }

  .ant-input-textarea-show-count::after {
    position: absolute;
    bottom: 15px;
    right: 9px;
  }
}

.awarenessDotModal {
  ::-webkit-scrollbar {
    display: none;
  }
}

.awarenessModal {
  ::-webkit-scrollbar {
    display: none;
  }
}

.textBoxInner {
  ::-webkit-scrollbar {
    display: none;
  }
}

.challenge-textbox-main {
  position: relative;
}

.challenge-textbox-main .input-arrow::after {
  content: "";
  height: 73px;
  position: absolute;
  top: 52.5%;
  width: 19px;
  color: #000000;
  left: 20px;
  background-image: url("/public/line-arrow.svg");
  background-position-y: 100%;
}

.side-Arrow::after {
  content: "";
  height: 27px;
  position: absolute;
  top: 36.5%;
  right: -24px;
  width: 51px;
  // height: 0px;
  // color: #000000;
  background-image: url("/public/redArrow.svg");
  background-position-y: 100%;
}

.side-Arrow:last-child::after {
  content: "";
  height: 27px;
  position: absolute;
  top: 36.5%;
  right: -23px;
  width: 50px;
  // height: 0px;
  // color: #000000;
  background-image: unset;
  background-position-y: 100%;
}

// .dragHover:hover {
//   box-shadow: 0 0 5px black;
//   transform: scale(1.0);
// }

// .arrow-red {
//   width:100px;
//   height:30px;
//   display: flex;
// }
// .arrow-red::after {
//   content: "";
//   background: currentColor;
//   width:15px;
//   clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
//   animation: a1 1.5s infinite linear;
// }
// @keyframes a1 {
//   90%,100%{flex-grow: 1}
// }
.myCss {
  position: relative;
}
.myCss .myArrowBottom {
  position: absolute;
  bottom: -31px;
  width: 62%;
  height: 64px;
  left: 20%;
}
// .myCss .css-ov1ktg::after {
//   content: "";
//   height: 125px;
//   position: absolute;
//   top: 157.5px;
//   width: 754px;
//   right: 150px;
//   // background-image: url("/public/red-main.svg");
//   background-position-y: 100%;
// }
.ant-modal-title {
  font-weight: 700px !important;
  font-family: "Arimo";
  font-style: normal;
}

.userGuide {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

.userGuide .Ucontent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 65px;
  margin-left: 39px;
  left: 914px;
  margin-top: 17px;
}

.userGuide .uVideo {
  width: 591px;
  height: 331px;

  margin-bottom: 31px;
}

.userGuide .Ucontent-2 {
  margin-top: 61px;
}

.userGuide .videoContent {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  margin-left: 39px;
}

.userGuide .videoContent2 {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.awarenessModal .ant-btn {
  width: 58px;
  height: 28px;
  background-color: #000000;
  text-align: center;
  margin-top: 0;
}

.btn1 {
  background-color: #dcdada;
  color: black;
}

.btn2 {
  background-color: #69acda;
  color: black;
}

.card {
  margin-bottom: 0px;
}

.ms-4 {
  margin-left: 2.45rem !important;
}

hr {
  width: 344.02px;
  margin-top: 14.17px !important;
  margin-bottom: 14.17px !important;
}

.SelfLearningBG {
  background-color: #ffeb3d;
}

.ThingsLearningBG {
  background-color: #214dea;
}

.UserGuideBG {
  background-color: #44a82b;
}

.profileBG {
  background-color: white;
}

.newBuild {
  border: 0 !important;
}

.flash {
  right: 21px;
  bottom: 25px;
}

.mkCard {
  right: 21px;
  bottom: 103px;

  .card {
    border: 1px solid black;
    border-radius: 6px;
    height: 60px;
    width: 40px;
    font-size: 20px;
    font-weight: 400;
    padding: 0px !important;
  }

  .card-body {
    padding: 6px;
  }
}

.videoCard01 {
  .title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .iframs {
    display: none;
  }
}

.btn {
  :hover {
    :hover {
      background-color: white;
      color: black;
    }
  }
}

.high-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 68px;
  height: 61px;
  padding: 10px;
  text-align: center;
}

.high-btn:hover {
  background-color: white;
  /* Green */
  color: black;
}

.high-btn3 {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 68px;
  height: 61px;
  padding: 2px;
  text-align: center;
}

.high-btn3:hover {
  background-color: white;
  /* Green */
  color: black;
}

.high-btn2 {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 100px;
  height: 57px;
  padding: 16px;
  text-align: center;
}

.high-btn2:hover {
  background-color: white;
  /* Green */
  color: black;
}

.threeButton .btn {
  padding-left: 0;
  padding-right: 0;
  color: black;
}

.inspirationButton {
  background-color: #7d1597;
  transform: translate(19%, 154%);
  color: #f8f8f8;
  position: sticky;
  z-index: 1;
}

.resistanceButton {
  background-color: #d91919;
  // transform: translate(105%, -11%);
  transform: translate(105%, -128%);
  color: #f8f8f8;
  margin-left: -15px;
}

.acceptanceButton {
  background-color: #1235ae;
  transform: translate(158%, -343%);
  color: #f8f8f8;
}

.inspirationButton:hover {
  background-color: #7d1597;
  color: #f8f8f8;
}

.acceptanceButton:hover {
  background-color: #1235ae;
  color: #f8f8f8;
}

.blue {
  margin-left: -1px;
}

.resistanceButton:hover {
  background-color: #d91919;
  color: #f8f8f8;
}

.redtraingle {
  margin-top: -125px;
  margin-bottom: 35px;
}

.accptanceModalBG {
  .ant-modal {
    margin-left: 754px;
  }

  .ant-modal-content {
    border-radius: 7px;
    background-color: #b2b5ed;

    .ant-modal-header {
      background-color: #b2b5ed;
      border-radius: 7px;
    }
  }

  textarea.ant-input {
    border-radius: 5px;
  }

  .ant-btn {
    width: auto;
    height: 28px;
    background-color: #000000;
    text-align: center;
    margin-top: 0;
    color: white;
  }
}

.resistanceModalBG {
  .ant-modal-content,
  .ant-modal-header {
    background-color: #e8abab;
  }

  textarea.ant-input {
    border-radius: 5px;
  }

  .ant-btn {
    width: auto;
    height: 28px;
    background-color: #000000;
    text-align: center;
    margin-top: 0;
    color: white;
  }
}

.redpolygon {
  -webkit-clip-path: polygon(5% 66%, 100% 66%, 53% 3%);
  clip-path: polygon(7% 66%, 100% 65%, 56.8% 4%);
  background-color: #d91919;
  width: 70%;
  height: 113.54px;
  margin-top: -74px;
  margin-left: -2px;
}

.bluePolygon {
  -webkit-clip-path: polygon(48% 1%, 96% 100%, 48% 65%);
  clip-path: polygon(48% -1%, 94% 100%, 49% 64%);
  background-color: #1235ae;
  width: 70%;
  height: 200.54px;
  margin-top: -201px;
  margin-left: 16px;
}

.purplePolygon {
  clip-path: polygon(48% 1%, 0 100%, 48% 65%);
  background-color: #7d1597;
  width: 70%;
  height: 200.54px;
  margin-top: -51px;
  margin-left: 16px;
}

.inspirationModalBG {
  .ant-modal-content,
  .ant-modal-header {
    background-color: #e0c0eb;
  }

  textarea.ant-input {
    border-radius: 5px;
  }

  .ant-btn {
    width: auto;
    height: 28px;
    background-color: #000000;
    text-align: center;
    margin-top: 0;
    color: white;
  }
}

@keyframes blinking {
  0% {
    background-color: #7d159779;
    border: 1px solid rgba(102, 102, 102, 0.342);
    padding: 0.5rem;
    border-radius: 5px;
  }

  100% {
    background-color: #1234ae5d;
    border: 1px solid rgba(102, 102, 102, 0.342);
    padding: 0.5rem;
    border-radius: 5px;
  }
}

#blink {
  animation: blinking 1s infinite;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow {
  left: 24%;
}

.bulb {
  margin: 7px;

  padding: 4px;
}

.blue {
  margin-left: -1px;
}

.tooltipOfImages {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 1px;
}

.ant-form-item-label > label::after {
  content: none;
}

.ant-input-textarea {
  margin-left: 2px !important;
}

.textBoxInnerNone {
  display: none;
}

.textBoxInnerBlock {
  display: block;
}

.buttonSave {
  width: 225px;
  height: 50px;
}

.btnrv {
  .ant-btn {
    display: none !important;
  }
}

.googleicon {
  margin-top: -8px;
}

.googleicon:hover {
  cursor: pointer;
}

.googlecolor {
  background-color: #4285f4;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black !important;
}

.AwareInput {
  background-color: #d9d9d9 !important;
  height: 74px;
  width: 413px;
}

.AwareInputFirst {
  height: 160px;
  width: 413px;
}

.AwareInputChallenge {
  height: 160px;
  width: 372px;
  margin-left: 39px !important;
}

.AwareInputChallengeHeader {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 9px;
  text-align: left;
  margin-left: 39px;
  margin-bottom: 3px;
}

.challengeAcceptBtn {
  width: 100px !important;
  height: -24px;
  background-color: #000000 !important;
  text-align: center;
  margin-left: 304px !important;
}

.awarenessTypeModal {
  .ant-btn {
    width: 63px !important;
    height: -24px;
    background-color: #000000 !important;
    text-align: center;
    margin-left: 0px !important;
    color: white;
  }
}

.awarenessDotModal {
  .ant-modal {
    overflow: scroll;
  }

  .ant-modal-content {
    color: #000000;
  }

  .ant-modal-body {
    text-align: center;
    margin: -10px;
    margin-bottom: -62px;
  }

  textarea.ant-input {
    border-radius: 2px;
  }

  .ant-btn {
    width: 111px;
    height: -24px;
    background-color: #44a82b;
    text-align: center;
    margin-left: 304px;
  }

  .yellowBtn {
    background-color: #ffe500;
  }

  .header {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 9px;
    text-align: left;
    margin-bottom: 3px;
  }

  .ant-modal-footer {
    display: none;
  }

  .ant-form-item {
    margin-top: 5px;
    margin-bottom: -4px;
  }

  .ant-btn .challenge {
    width: 111px;
    height: -24px;
    background-color: #000000;
    text-align: center;
  }
}

.acceptDotBg {
  background-color: #1235ae;
}

.resistanceDotBg {
  background-color: #d91919;
}

.inspirationDotBg {
  background-color: #7d1597;
}

* {
  -ms-overflow-style: none;
}

.img-rounded {
  border-radius: 50%;
}

.ant-select-selection-placeholder {
  color: #000000;
}

.filterInProfile {
  height: 42px;
  border-radius: 5px;
  text-align: center;
}

.searchBar {
  width: 1430px;
}

.centerHeader {
  text-align: center !important;
  font: "Arimo" !important;
  font-weight: 400px !important;
  font-size: 20px !important;
  line-height: 23px !important;
  margin-top: 70px;
}

.disableClass {
  pointer-events: none;
  opacity: 0.4;
}

.logOut {
  margin-top: 10px;
}

.content {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  background-color: #d9d9d9;
  width: 396px;
  color: black;
  text-align: center;
}

.videoProfile1 {
  padding-right: 1rem;
  margin-top: 30px;
}

.headerSizeInsearch {
  font-size: 20px !important;
}

.videoCard {
  /* width */
  ::-webkit-scrollbar {
    // width: 1089px;
    height: 10px;
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    // border-radius: 3px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #636262;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #636262;
    // border-radius: 3px;
  }
}

.textFontSize {
  font-size: 13px;
  border-radius: 4px;
}

.ant-modal-confirm {
  .ant-modal-confirm-btns {
    margin-top: 41px !important;
    text-align: center;
  }

  .ant-modal-confirm-body .ant-modal-confirm-title {
    text-align: left !important;
    font-size: 18px;
  }
}

.groupSelection {
  display: inherit;
  margin-top: -14px;
}

.groupSelectionNot {
  display: inherit;
  margin-top: -14px !important;

  .ant-checkbox {
    display: none;
  }
}

.ant-checkbox {
  margin-top: -14px;
}

.ant-checkbox-inner {
  border-radius: 19px;
}

.groupBox {
  .ant-form-item {
    width: 50%;
  }
  text-align: center;
}
.group {
  .ant-form-item {
    width: 100%;
  }
  .ant-btn {
    background-color: #579ebb;
    color: white;
    border-radius: 5px;
  }
}
.groupHeader {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.width-btn {
  width: 78px !important;
}
.activeSelection {
  margin-top: 2px !important;
  margin-bottom: -1px !important;
}
.textarea {
  resize: none;
}
.hideTitle {
  opacity: -0.4;
}
.dotSize {
  font-size: 15px;
  width: 35px;
  text-align: center;
}
.difficult {
  height: 93px;
}
.ant-input:focus {
  outline: none !important;
  border: none;
  box-shadow: none;
}
.submitButton {
  padding: 26%;
  /* margin: 7%; */
  padding-left: 50%;
  padding-right: 50%;
}
.submitButton1 {
  // height: 170px;
}
.dis .ant-checkbox-inner {
  display: none;
}
// .newBuildSideCard{
//   position: fixed;
// }
// .newBuildBoxes{
//   overflow-y: scroll;
//   overflow: auto;
//   margin-left:22%;
// }
.triangle {
  min-height: calc(44vh - 50px);
  height: calc(46vh - 50px);
}
