@import '~antd/dist/antd.css';

body,
.ant-layout {
  background-color: #ffffff;
}

.h-full {
  height: calc(100vh);

}

// .ant-layout.site-layout {
//   margin-left: 125px;
// }

.searchCard ::placeholder {
  text-align: center;

}

.sidebar-app .ant-layout-sider {
  position: fixed;
}

.mySidebar {
  max-width: 120px !important;
  min-width: 120px !important;
  width: 120px !important;

}

.mySidebar .ant-layout-sider-children {
  justify-content: center;
  display: flex;
  height: 60vh;

}

.left-66 {
  left: 66px;
}

.profile {
  position: relative;
}

.profile .boxes-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.profile .boxes-number {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  align-items: center;
  color: #000000;
  font-family: Arimo;
}

.profile .cityWithMe {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.profile .title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
  margin: 0;
}

.profile .subTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
  margin: 0;
}

.profile .pcontent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;

}

.videoCard {
  display: inline-flex;
  // max-width: 1500px;
  width: 100%;
  overflow-x: scroll;
}

.videoProfile {
  overflow: hidden;
  // width: 404px;
  padding-right: 1rem;
}

.builds-Main {
  .videoProfile {
    width: 300px;
  }
}

.mainPage {
  overflow-y: scroll;
  // overflow: hidden !important;
  width: 100%;

  .profile-main {
    overflow: hidden;
    overflow-y: auto;
  }
}

.title {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    margin: 0;
  }
}

.vcontent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.flashCards {
  position: absolute;
  bottom: 18px;
  right: 45px;
  cursor: pointer;
}

.flashCardsContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  margin-right: 137px;
  text-align: right;
}

.AllProfile {
  position: absolute;
}

.AllProfile .boxes-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Arimo;
}

.AllProfile .boxes-number {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 46px;
  align-items: center;
  color: #000000;
  text-align: center;
}

.AllProfile .cityWithMe {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  align-items: center;
}

.AllProfile .title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0;
}

.AllProfile .subTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0;
}

.AllProfile .button {
  font-weight: 700;
  font-size: 11px;
  line-height: 12.65px;
  text-align: center;
}

.Search-content {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.dashboardSearch {
  width: 300px;
  border-radius: 25px;

}

.ant-input-search {
  width: 300px;
  border-radius: 25px;
}

.new-build-hr {

  max-width: 344.02px;
}

.icon {
  font-size: 42px;
}

.border-btm {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 24%;
}

.ant-modal-body {
  text-align: center;
}

.ant-modal-content {
  border-radius: 13px;
}

.ant-modal-footer {
  text-align: center;
  border-top: none;
}

.ant-btn {
  background-color: #000000;
  color: white;
  border-radius: 5px;
}

/* .ant-modal{
  top: 245px;
  
  max-width: 411px;
  max-height:265px;;
  font-weight: 700;
font-size: 15px;
} */
.ant-modal-body .inputbox {
  text-align: left;
}

.inputbox {
  text-align: left;
  height: 80;
}

.userGuide {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

.userGuide .Ucontent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;

}

.userGuide .videoContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.userGuideBg {
  background-color: #44A82B;
}

.selfLearningBg {
  background-color: #FFEB3D;
}

.aboutThingsBg {
  background-color: #214DEA;
}

.novideo {
  text-align: center;

  width: 396px;
  height: 306px;
}

.content {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  background-color: #D9D9D9;
  width: 396px;
}

.ant-card-head-title {
  text-align: center;
}

.ant-card-head {
  border-bottom: 0;
  padding: 0;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: -30px;
}

.ant-card {
  border-radius: 0;
}

.resultContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;

}

.inValidUrlContent {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  align-items: center;
  text-align: center;
}

.awarenessModal {
  position: relative;
}

.awarenessModal .inputboxes {
  height: 13px;
  width: 121px;
  font-size: 8px;
}

.awarenessModal .ant-btn {
  background-color: #eee3e3;
  color: white;
  border-radius: 5px;
}

.awarenessModal .ant-modal-header {
  border-bottom: 0;
  padding: 9px 12px;
  background-color: #E8ABAB;
}

.awarenessModal .ant-modal-content {
  background-color: #E8ABAB;
  border-radius: 7px;
}

.ant-modal {
  background-color: #E8ABAB;
  border-radius: 7px;
  width: 440px;
  height: 473px;
  margin-top: 212px;
  margin-left: 696px;
  margin-bottom: 339px;
  margin-right: 304px;
}

.ant-modal-close-x {
  padding: 0px;
  font-weight: 700;
  display: block;
  width: 13px;
  height: 14px;
  font-size: 13px;
  font-style: normal;
  line-height: 8px;
  text-align: center;

  border-radius: 7px;
  background-color: black !important;
  color: white;
  margin-top: 10px;
  margin-right: 13px;
}

.awarenessModal .ant-modal-body {
  text-align: left;
  padding-bottom: 0;
  margin-right: 14px;
}

.awarenessModal .ant-input {
  border-radius: 4px;
  width: 413px;
  height: 160px;
}

.awarenessModal .ant-btn {
  width: 58px;
  height: 28px;
  background-color: #000000;
  text-align: center;
  margin-top: 0;
}

.aboutclass {
  width: 379px;
  height: 126px;
  top: 224px;
  font-family: Arimo;
  padding-left: 11px;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 18.97px;
  color: #000000;
  margin-top: 10px;
  margin-left: 11px;
}

.border-top{
 position: absolute;
width: 344.02px;
height: 0px;
left: 24px;
top: 361.83px;
border: 1px solid #000000;
}

.btn1{
// box-sizing: border-box;
// position: absolute;
// width: 147px;
// height: 75px;
// background: #DCDADA;
// border: 0.3px solid #000000;
// border-radius: 3px;
// font-family: 'Arimo';
// font-weight: 400;
// font-size: 14px;
// line-height: 16px;
// color: #000000;
}

.btn2{
 box-sizing: border-box;
position: absolute;
width: 147px;
height: 75px;
left: 212px;
top: 388px;
background: #F8F8F8;
border: 0.3px solid #000000;
border-radius: 3px;
font-family: 'Arimo';
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;

}